@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}
body {
   background-color: rgb(20, 18, 8);
}
/* header */
header {
    color: white;
    padding: 0 10% 0 10%;
    background: linear-gradient(-10deg, #a54631, #b6224c, #ca2020, #0edf99);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 20%;
}
.sidebar {
    box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.2), 0 6px 20px 0 rgba(39, 38, 38, 0.712);
    height: 100vh;  
    width: 5vw;
    position: absolute;
    padding: 10px 0 10px 0;
    color: white;
    text-align: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 0 9% 0 9%;
}
.intro {
    border-radius: 30px;
    width: 100%;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(27, 25, 25, 0.2), 0 6px 20px 0 rgba(34, 31, 31, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.myPic {
    width: 450px;
    min-width: 250px;
    border-radius: 20px;
}
.introText {
    color: white;
    font-size: 40px;
    margin: auto;
}
.myWork {
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(20, 19, 19, 0.2), 0 6px 20px 0 rgba(34, 31, 31, 0.19);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}